:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}
.active {
  border-bottom: 2px solid #5ece7b;
  color: #5ece7b;
  font-weight: 500;
}
img {
  width: 100%;
}
/* .................... */

#style-15::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

#style-15::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#style-15::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: green;
}

img {
  width: 100%;
}
